html
	head
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		style(type='text/css').
			body{
				font-family: 'Montserrat', sans-serif;
				color: #fff;
			}
			.container{
				width: 600px;
				margin: auto;
			}

			.main-box{
				margin-top: 500px;
				text-align: center;
			}

			.myTable{
			margin: auto;
			text-align: center;
			}
			.myTable tbody{
				display: block;
				margin: auto;
			}

			.myTable td{
				padding: 20px 40px;
			}



			.myTable button{
				background: none;
				color: #fff;
				padding: 10px;
				border-radius: 5px;
				cursor: pointer;
			}

		title= "The game market"
	body(background="assets/sprites/wall.png")
		.container
			.main-box
				h1= "Hello " + user
				h1= "You have "
					span#points #{points} credits

				h2="Select a car you wish to purchase"

				table.myTable(align="center")
					tr.table(align="center")
						th Model
						th Speed
						th Cost (points)
						th Preview
						th Action
					each car in cars
						tr.table 
							td #{car.model}
							td #{car.speed}
							td #{car.cost}
							td
								img(src='assets/sprites/' + car.model + '/' + car.model + ".png")
							td 
								button Buy
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script.
		$("tr.table button").click(function() {
			console.log("click");
			$row = $(this).parent().parent();
			var tableData = $row.children("td").map(function() {
			return $(this).text();
		}).get();
		console.log(tableData);
			$.post( "market", {
			model: tableData[0],
			speed: tableData[1],
			cost: tableData[2],
			points: $("#points").html()
		}).done(function( data ) {
				console.log("done");
			});
		});
		